<link rel="stylesheet" href="css/inventory.css">
<div class="container mt-5">
    <div class="row">
        <h2>Inventarios</h2>
        <hr>
        <div class="col">
            <a href="/ip">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-wifi"></i>
                        </div>
                        <div class="row">
                            <h4>Direcciones IP</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/computers">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-computer"></i>
                        </div>
                        <div class="row">
                            <h4>Maquinas</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/components">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-cubes"></i>
                        </div>
                        <div class="row">
                            <h4>Componentes</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="/cpu">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="row">
                            <h4>Procesadores (CPU)</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/motherboard">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="row">
                            <h4>Placas madres</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="/gpu">
                <div class="card inventory-item">
                    <div class="card-body">
                        <div class="row">
                            <i class="fa-solid fa-microchip"></i>
                        </div>
                        <div class="row">
                            <h4>Tarjetas graficas (GPU)</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>