<div class="container mt-5">
    <div class="row">
        <h2>Resumen de tickets</h2>
        <hr>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">60</h1>
                    <h5>Tickets cerrados</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">12</h1>
                    <h5>Tickets en curso</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">483</h1>
                    <h5>Tickets pendientes</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">1583</h1>
                    <h5>Tickets rechazados</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h2>Resumen de areas</h2>
        <hr>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">148</h1>
                    <h5>PCs</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">7</h1>
                    <h5>Laptops</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">30</h1>
                    <h5>Impresoras</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-size: 5rem;">200</h1>
                    <h5>Direcciones IP</h5>
                    <a href="#" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>