<%

function $$(varName) {
    return locals[varName] ?? null;
}

function formatDate(date) {
    const today = new Date();
    today.setHours(today.getHours() - 3);

    const seconds = (today - date) / 1000;

    // Dias
    if (seconds >= 86400) {
        return `Hace ${~~(seconds / 86400)} día/s`;
    }

    // Horas
    if (seconds >= 3600) {
        return `Hace ${~~(seconds / 3600)} hora/s`;
    }

    // Minutos
    if (seconds >= 60) {
        return `Hace ${~~(seconds / 60)} minuto/s`;
    }

    return `Hace ${~~(seconds / 1)} segundos/s`;
} 

%>

<link rel="stylesheet" href="css/ticketview.css">
<div class="container mt-5">
    <div class="row">
        <h2><%= ticket?.titulo ?? "<Ticket sin titulo>" %></h2>
        <hr/>
    </div>
    <div class="row">
        <div class="col mb-2 ticket-encabezado">
            <span>
                <strong>Solicitante:</strong>
                <%= ticket?.usuario %>
            </span>
            <span>  
                <strong>Fecha del ticket:</strong>
                <%= ticket?.fcreacion.toLocaleDateString('es-ES') %> (<%= formatDate(ticket?.fcreacion) %>)
            </span>
            <span>  
                <div style="display: flex; align-items: center; gap: 5px;">
                    <strong>Estado:</strong>
                    <div class="ticket-estado ticket-estado-enproceso"></div>
                    <%= ticket?.estado %>
                </div>
            </span>
            <span>  
                <strong>Categoria:</strong>
                <%= ticket?.categoria %>
            </span>
            <span>  
                <strong>Ubicacion:</strong>
                <%= ticket?.ubicacion %>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= ticket?.descripcion %>
        </div>
    </div>
    <!-- <div class="ticket-imagenes mt-5">

    </div> -->
    <h5 class="mt-5">Seguimientos (<%= seguimientos.length %>)</h5>
    <hr class="mb-4"/>

    <div class="seguimientos">
        <% seguimientos.forEach(seguimiento => { %>
            <div class="alert alert-secondary" style="background-color: rgba(226,227,229,.5);">
                <div class="seguimiento row">
                    <div class="row">
                        <div class="col-sm-1">
                            <span>
                                <strong><%= seguimiento.usuario %></strong>
                            </span>
                        </div>
                        <div class="col">
                            <span style="font-size: 0.7em;"><%= formatDate(seguimiento.fcreacion) %></span>
                        </div>
                    </div>
                    <hr class="m-0" style="width: 99%; margin: auto !important; color: rgba(0,0,0,0.3)" />
                    <div class="row">
                        <span style="word-break: break-all;"><%= seguimiento.comentario %></span>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <div class="row" id="contenedor-seguimiento-texto" hidden>
        <form action="/ticket_seguimiento" method="post">
            <input hidden type="text" name="ticketId" value="<%= ticket?.id %>">
            <div class="row">
                <div class="col">
                    <textarea class="form-control" placeholder="Agregar un comentario..." name="comentario" maxlength="1000" required></textarea>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col" id="contenedor-seguimiento-acciones" hidden>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                    <input type="button" class="btn btn-secondary" id="boton-cancelar-seguimiento" value="Cancelar">
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col" id="contenedor-seguimiento-abrir" style="display: flex; gap: 5px;">
            <% if (ticket.estado == 'En proceso') { %>
                <button class="btn btn-secondary" id="boton-responder-seguimiento">Responder</button>
            <% } %>
            <% if (ticket.estado == 'Pendiente'/*  || ticket.estado == 'Finalizado' */) { %>
                <div>
                    <form action="/open_ticket" method="post">
                        <input hidden name="ticketId" value="<%= ticket?.id %>">
                        <button class="btn btn-primary">Abrir Ticket</button>
                    </form>
                </div>
            <% } %>
            <% if (ticket.estado == 'En proceso') { %>
                <div>
                    <form action="/close_ticket" method="post">
                        <input hidden name="ticketId" value="<%= ticket?.id %>">
                        <button class="btn btn-primary">Finalizar Ticket</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script src="js/ticketview.js"></script>